<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a routerLink="/">
    <img src="../assets/img/LOGO-WDR.svg" alt="premium-minds">
    </a>
  </div>
</nav>

  <div class="row">
    <div class="col-2 side-menu">
        <ul class="p-5">
          <li class="py-3">
            <a routerLink="/feature1">Lorem Ipsum</a>
          </li>
          <li class="py-3">
            <a routerLink="/utilizador">Utilizador</a>
          </li>
          <li class="py-3">
            <a routerLink="/feature2">Quantum Solum</a>
          </li>
          <li class="py-3">
            <a routerLink="/feature3">Marcus Tremer</a>
          </li>

        </ul>

        <div class="offset"></div>

        <div class="menu-footer row align-items-center">
            <div class="col">
              2019Ⓒ Premium-minds.com
            </div>
        </div>
    </div>
    <div class="col-10" style="background-color: rgb(245, 245, 245);">

      <router-outlet></router-outlet>

    </div>

  </div>

