section{
  background-color: rgb(245, 245, 245);





  .accordion{
    .accordion-header{
      background-color: rgb(236, 236, 236);
    }
    button{
      background-color: rgb(236, 236, 236);
      color: black;
      font-size: 1.3rem;
    }
    .form-check{
      display: flex;
      align-items: center;
      input, label{
        display: inline;
      }

      .form-check-input{
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }



  .clicked{
    font-weight: bold;
  }


  .buttons{
    .btn{
      border-radius: 3rem !important;
      width: 20rem;
      padding: 0.8rem;
      font-size: 1.5rem;
    }
    .btn-light{
      background-color: white;
    }
  }


  
}