
<section>
  <div class="row">
    <h1 class="pb-5">Utilizador</h1>
  </div>

  <div class="row">
    <div class="col">
      <div class="accordion" id="accordion1">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Tipo de utilizador
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show p-5" aria-labelledby="headingOne" data-bs-parent="#accordion1">
            <div class="form-check py-2">
              <input class="form-check-input" type="checkbox" value="" id="flexCheck1">
              <label id="label1" class="form-check-label ms-3" for="flexCheck1">
                Project Manager
              </label>
            </div>
            <div class="form-check py-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                <label id="label2" class="form-check-label ms-3" for="flexCheck2">
                  Developer
                </label>
             </div>
             <div class="form-check py-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheck3">
                <label id="label3" class="form-check-label ms-3" for="flexCheck3">
                  Architect
                </label>
             </div>
          </div>
          
        </div>
      </div>
      <div class="accordion" id="accordion2">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingtwo">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Contacto
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show p-5" aria-labelledby="headingOne" data-bs-parent="#accordion2">
            <div class="row">
              <div class="col-4">
                <div class=" mb-3">
                  <label>Email</label>
                  <input type="email" class="form-control">
                </div>
              </div>
              <div class="col-4">
                <div class=" mb-3">
                  <label>Palavra-passe</label>
                  <input type="password" class="form-control">
                </div>
              </div>  
            </div>
            <div class="row">
              <div class="col-4">
                <div class=" mb-3">
                  <label>Telefone</label>
                  <input class="form-control">
                </div>
              </div>
            </div>



          </div>
          
        </div>
      </div>
    </div>
  </div>

  <div class="buttons pt-5 pl-5 row justify-content-end">
    <div class="col-3 mx-2">
      <button class="btn btn-light" >Cancelar</button>
    </div>
    <div class="col-3 mx-2">
      <button class="btn btn-primary">GUARDAR</button>
    </div>
  </div>

</section>
