/* You can add global styles to this file, and also import other style files */
html{
  body{
    font-size: 16px;
  }

  section{
    padding: 3rem;
    background-color: rgb(245, 245, 245);
  }
  nav{
    position: fixed;
    background-color: white;
  }
  h1{
    font-weight: normal;
  }
  .clicked{
    font-weight: bold;
  }


}